<%- include("../../views/partials/admin/header") %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-60">
            <form id="edit-category-form" method="post">
                <div class="d-grid text-end mt-30 col-md-5">
                    <button class="btn btn-primary" type="submit">Update category</button>
                </div>
                <div class="mb-4 mt-30">
                    <label for="product_name" class="form-label">Name</label>
                    <input type="text" name="categoryName" value="<%=category.name%>" class="form-control border" />
                </div>
                <div class="mb-4">
                    <label class="form-label">Description</label>
                    <textarea name="description" class="form-control border"><%=category.description%></textarea>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../../views/partials/admin/footer") %>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('#edit-category-form').submit(function(event) {
            event.preventDefault(); 

            const categoryName = $('input[name="categoryName"]').val();
            const description = $('textarea[name="description"]').val();
            const categoryId = '<%=category._id%>';

            $.ajax({
                url: `/admin/editCategory/${categoryId}`,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ categoryName, description }),
                success: function(response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Category updated successfully!',
                    }).then(() => {
                        window.location.href = '/admin/category'; 
                    });
                },
                error: function(xhr) {
                    const errorMessage = xhr.responseJSON.error;

                    if (xhr.status === 400 && errorMessage === "Category exists, please choose another name") {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Category already exists! Please choose another name.',
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An error occurred while updating the category. Please try again later.',
                        });
                    }
                }
            });
        });
    });
</script>
